*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/* body{
    overflow-x: hidden;
} */

.nav{
    display: flex; 
    justify-content: space-between;
    width: 100%;
}

.logo{
    margin-left: 10rem;
    font-size: 3.6rem;
    padding: 1rem;
    color:rgb(196, 130, 8);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.list{
    display: flex;
    font-size: 3rem;
    list-style: none; 
    margin-right: 9rem;
    align-items: center;
}

.list li {
    margin: 0rem 4rem 0rem 0rem;
}
.list li a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


/* Section about  */


.About{
    display: flex;
    width: 100%; 
    /* border: 2px solid red; */
    justify-content: space-evenly;
    height: auto;
}
.leftside 
{
    width: 40%;

    display: flex;
}
.auto { 
 /* for making img + text at center  */
    margin: auto;
}
.leftside img 
{
    width: 70%;
    display: block;
    margin: auto;
    /* margin-top: 10rem; */
}
.leftside h1
{
font-size: 3rem;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
.description{
 font-size: 2rem;
 margin-top: 1rem;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
}
.rightside{
    width: 40%;
    display: flex;
}

.rightside img 
{
    width: 100%;
    height: 60%;
    margin: auto;
}


/* section services  */
.services
{
    margin-top: 2rem;
    /* border:2px solid red; */
}
.services h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
}
.services p {
    font-size: 2.5rem;
    text-align: center;
    color: red;
}

.s-grid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0rem 0rem 4rem 0rem;
}
.grid{
width: 30%;
height: 40rem;
/* border: 2px solid red; */
margin-top: 3rem;
display: flex;
flex-direction: column;
}

.grid img 
{
    width: 100%;
    height: 80%;

}

.grid h2{
     /* display: block; */
    /* border: 2px solid red; */
    margin: auto;
}

/* Section feature  */

.Feature
{
    margin-top: 2rem;
    /* border: 2px solid red; */
}
.Feature h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
}
.f-grid {
width: 100%;
height: auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
/* border: 2px solid red; */
justify-content: space-evenly;
background-color: black;
margin-top: 2rem;
}
.grid-f 
{
width: 45%;
/* border: 2px solid red; */
height: auto;
margin: 1rem 0rem 1rem 0rem ;
padding: 5rem;
}
.grid-f h2{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
.grid-f p 
{ 
    color: white;
    margin-top: 1rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* Section why us  */
.w-grid
{
    margin-top: 2rem;
    /* border: 2px solid red; */
}
.w-grid h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
}
.wm-grid
{
width: 100%;
height: auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
/* margin-top: 2rem; */
/* border: 2px solid red; */
/* background-color: black; */
}

.grid-w
{
    /* border: 2px solid red; */
    width: 45%;
    height: auto;
    margin: 2rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.grid-wi
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-wi img {
    /* width: 40%;
    height: 60%; */
}
.grid-wi h2{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.grid-w p
{
    margin-top: 1rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* Section contact us  */

.contactus{
    margin-top: 2rem;
    /* border: 2px solid red; */
}
.contactin
{
background-color: rgb(219, 219, 219);
}
.contactin h3{
    color: red;
}

.contactus h2 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
}
.contactus h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
    margin-top: 2rem;
}
.contactus h4 
{
    text-align: center;
}
.contact 
{
    margin-top: 2rem;
}
.contact h4{
    font-size: 2rem;
}
.no 
{
    margin-top: 1rem;
}

footer 
{
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}
@media only screen and (max-width: 1274px) {
   
    html{
        font-size: 55%;
    }
  }

  @media only screen and (max-width: 1104px) {
   
    html{
        font-size: 50%;
    }
  }

  @media only screen and (max-width: 1008px) {
   
    html{
        font-size: 45%;
    }
  }

  @media only screen and (max-width: 900px) {
   
    html{
        font-size: 40%;
    }
  }

  @media only screen and (max-width: 900px) {
   
    html{
        font-size: 35%;
    }
  }

  @media only screen and (max-width: 800px) {
   
    html{
        font-size: 25%;
    }
  }